/* .md-header-nav__button.md-logo img {
    width: 100%;
    height: 100%;
}

.md-footer {
    color: var(--md-primary-bg-color);
    background-color: var(--md-primary-fg-color);
}

.tx-hero__image {
    width: 28rem !important;
}

.datadog-chaos-logo {
    display: block;
    margin: 0 auto;
    width: 350px;
} */